.addUser {
   
     margin: 50px auto;
    background-color: aliceblue;
    padding: 40px;
    border-radius: 10px;
 }
 
 .addUserForm .inputGroup {
    
     display: flex;
     flex-direction: column;
     
 }
 .addUserForm .inputGroup label{
     margin-top: 10px;
 }
 
 .inputGroup button {
     margin-top: 10px;
   
 }
 .addUser h3 {
     text-align: center;
     font-weight: bold;
     color: darkcyan;
 }
 .Submit{
    margin-top: 20px;
    text-align: center;
 }
.btn-primary{
    width: 50%;
}
