.addUser {
    width: 30%;
    margin: 30px auto;
    background-color: aliceblue;
    padding: 40px;
    border-radius: 10px;
 }
 
 .addUserForm .inputGroup {
     width: px;
     display: flex;
     flex-direction: column;
    
     
 }
 .addUserForm .inputGroup label{
     margin-top: 5px;
     width: 240px;
 }
 .addUserForm .inputGroup input{
     margin-top: 5px;
     padding: 3px;
 
 }
 .addUserForm button {
    width: 250px;
    margin: 10px auto;
    
  
 }
 
 
 
 .addUser h3 {
     text-align: center;
     font-weight: bold;
     color: darkcyan;
 }
 


.Login{
    margin-top: 20px;
    text-align: center;
    font-size: 10px;

}

.Login1{
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
}
.button{
    text-align: center;

}